@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
}
header{
  height: 600px;
}
.bannerHeader{
  height: 488px;
  background-image: url(./images/banner.png);
  background-position: center;
}
.opacityBanner{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.35;
}
.informationHeader{
  position: relative;
  height: 112px;
  width: 100%;
  display: flex;
}
nav{
  width: 100%;
}
nav ul{
  margin-left: 70px;
  display: flex;
  justify-content: center;
}
nav ul li{
  list-style-type: none;
  margin: 0 3%;
  display: flex;
  align-items: center;
}
nav ul li a{
  display: block;
  color: black;
  text-decoration: none;
  font-weight: lighter;
}
nav ul li a:hover{
  text-shadow: 0 0 .1px black;
}
.imgLogo{
  margin-top: -10px;
  width: 166px;
  height: 124px;
  margin-left: 0px;
}

.cartUser{
  position: absolute;
  right: 0;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}
.cartUser object{
  margin: 0 10px;
}

.svgUser{
  width: 23px;
  height: 27px;
}
.svgCart{
  width: 29px;
  height: 27px;
}
.crumbs{
  height: 200px;
  outline: 1px solid grey;
}
.conteiner{
  display: flex;
}
.filters{
  width: 25%;
  height: 500px;
  outline: 1px solid black;
}
.goods{
  outline: 1px solid red;
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.products{
  margin: 30px;
}
